html
    head 
        title=title
    body
        h1 Character Info 
        nav 
            ul
                li 
                    a(href='/') Main Hub
                li 
                    a(href='/char-info/new') Create a New Character  