//- doctype html
html
    head 
        title=title
        link(rel="stylesheet", href="../css/style.css")
    body
        //- h1=message
        h1 Main Hub
        nav 
            ul
                li 
                    a(href='/infos') Character Info
                li 
                    a(href='/builds') Character Build  

                logOut
                message

                h3 Login
                form(action="/auth/login", method="post")
                    input(type="text" name="username" placeholder="username")
                    input(type="email" name="email" placeholder="email")
                    input(type="password" name="password" placeholder="password")
                    button(type="submit") Login
                
                h3 Registration
                form(action="/auth/registration", method="post")
                    input(type="text" name="username" placeholder="username")
                    input(type="email" name="email" placeholder="email")
                    input(type="password" name="password" placeholder="password")
                    button(type="submit") Login
    