//- doctype html
html
    head 
        title=title
    body
        //- h1=message
        h1 Main Hub
        nav 
            ul
                li 
                    a(href='/char-info') Character Info
                li 
                    a(href='/char-build') Character Build  