//- doctype html
html
    head 
        title=title
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css"  media="screen,projection")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
        link(rel="stylesheet", href="/css/style.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        //- options.basedir
        include partials/navbar.pug
    body
        //- h1=message
        h1 Main Hub
        nav 
            ul
                li 
                    a(href='/infos') Character Info
                li 
                    a(href='/builds') Character Build  
                
                //- .switch
                //-     label
                //-         | Off
                //-         input(type="checkbox")
                //-         span.lever
                //-         |    On
                l1 
                    a(href='/auth/login') Login
                li 
                    a(href='/auth/registration') Register

                

        //- .parallax-container
        //-     .parallax
        //-         img(src='https://vignette.wikia.nocookie.net/cyberpunk/images/c/c9/Johnny_Silverhand_Keanu_Reeves.jpg/revision/latest?cb=20190610022538')
        //- .section.yellow
        //-     .row.container
        //-         h2.header Parallax
        //-         p.blue-text.text-darken-3.lighten-3
        //-         | Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.
        //- .parallax-container
        //-     .parallax
        //-         img(src='https://vignette.wikia.nocookie.net/cyberpunk/images/7/75/Misc_Image_Night_City.jpg/revision/latest?cb=20180610223752')
        //- .section.yellow
        //-     .row.container
        //-         h2.header Parallax
        //- .parallax-container
        //-     .parallax
        //-         img(src='https://vignette.wikia.nocookie.net/cyberpunk/images/f/f9/Misc_Image_Beauty.jpg/revision/latest?cb=20180610223751&format=original')

        .parallax#img1
        div(style='height:300px;background-color:white;font-size:26px;color:#5ECDD1')
            | Welcome to the character builder for Cyberpunk 2077. Although the full details of the game aren't out yet, this website has all the up to date information concerning the weapons and customization. Once the game is released, an update will include a scematics index so you can upload screenshots of your characters and their schematics so others could make their characters look the same.
            
        .parallax#img2
        div(style='height:500px;background-color:white;font-size:26px;color:#5ECDD1')
            | Special thanks to Mike Pondsmith and CD Projekt Red
            div.portrait
                img.port(src="https://gamespot1.cbsistatic.com/uploads/original/1579/15792183/3402492-cyberpunk-e32018-5104.jpg",width="auto" height="400px", alt="pondsmith")

                img.port(src="https://upload.wikimedia.org/wikipedia/en/thumb/6/68/CD_Projekt_logo.svg/1200px-CD_Projekt_logo.svg.png", width="auto", height="400px", alt="")
        .parallax#img3
        div(style='height:300px;background-color:white;font-size:26px;color:#5ECDD1')
            | Uploads go here.
        .parallax#img4
        div(style='height:300px;background-color:white;font-size:26px;color:#5ECDD1')
            | Scroll Up and Down this page to see the parallax scrolling effect.
        

        script(type="text/javascript" src="js/materialize.min.js")      
        script.
            | $('.carousel.carousel-slider').carousel({
            |   fullWidth: false,
            |   indicators: true
            | });

    footer.page-footer
        .container
            .row
            .col.l6.s12
                h5.white-text Social Media
                p.grey-text.text-lighten-4 To Learn More Please Visit
            .col.l4.offset-l2.s12
                h5.white-text Links
                ul
                li
                    a.grey-text.text-lighten-3(href='https://www.cyberpunk.net/us/en/') Offical
                li
                    a.grey-text.text-lighten-3(href='https://twitter.com/CyberpunkGame') Twitter
                li
                    a.grey-text.text-lighten-3(href='https://www.youtube.com/user/CyberPunkGame') Youtube
                li
                    a.grey-text.text-lighten-3(href='https://www.reddit.com/r/cyberpunkgame/') Reddit
        .footer-copyright
            .container
            | &copy; 2014 Copyright Text
            a.grey-text.text-lighten-4.right(href='#!') More Links
    

            
                
                