//- doctype html
html
    head 
        title=title
    body
        //- h1=message
        h1 Main Hub
        nav 
            ul
                li 
                    a(href='/infos') Character Info
                li 
                    a(href='/builds') Character Build  
                li 
                    a(href='/users') Login