html
    head
        title
        link(rel="stylesheet", href="/css/style.css")
    body
        h3 Registration
        form(action="/auth/registration", method="post")
            input.info-input(type="text", name="username", placeholder="username")
            //- input(type="email", name="email", placeholder="email")
            input.info-input(type="password", name="password", placeholder="password")
            button(type="submit") Registration