html
    head 
        title=title
        link(rel="stylesheet", href="/css/style.css")
    body
        header
            h1 Character Builds
            nav 
                ul
                    li 
                        a(href='/') Main Hub
                    li 
                        a(href='/builds/new') Create a New Build
        main.side-background
            h2 Current Set Builds
            ul
                for build in builds
                    li
                        a(href=`/builds/${build._id}`) #{build.bname}

                             