html
    head
        title show
    body
        header
            h1 Character Build Show
            small 
                a(href="info._id")
            nav 
                ul
                    li
                        a(href='/') Main Hub
                    li 
                        a(href='/builds') Return to List 
        main
            section
                h2 Info
                ul 
                    li=build.background
                    li=info.class
            section
                a(href=`/builds/${builds._id}/edit`) Edit
            section
                build.body
            section
                form(action=`/builds/${build._id}?_method=DELETE`, method="post")
                    button(type="submit") Delete