html
    head
        title show
    body
        header
            h1 Character Show
            nav 
                ul
                    li
                        a(href='/') Main Hub
                    li 
                        a(href='/infos') Return to List 
        main
            section
                h2 List of Builds